<!doctype html>
<html>
  <head>
    <title>List of users <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Shop</h1>
    <h2>List of all the users:</h2>
    <ul>
      <% availableBooks.forEach(function(users) { %>
        <li><%= users.username %></li>
      <% }) %>
    </ul>
    </body>
</html>
